div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
}

span {
    font-family: "Space Mono", "SF Mono", Consolas, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgb(214, 214, 214);
    border-color: black;
    border-radius: 100px;
    display: block;
    font-size: 100px;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

button {
    font-family: "Space Mono", "SF Mono", Poppins, Inter, Consolas, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: block;
    font-size: 40px;
    margin-top: 10px;
    background-color: gainsboro;
    border-color: black;
    border-radius: 20px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
}